body {
  background-color: #f9f7fe;
}

.weather-app {
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  padding: 40px;
}

h1 {
  color: #7c7c7c;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

ul.date-and-description-section {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.date-and-description-section li#date {
  margin-right: 5px;
}

ul.humidity-and-wind-section {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.humidity-and-wind-section li#wind {
  margin-right: 5px;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.button-color {
  background-color: #6882bb;
}

.weather-temperature {
  margin: 20px 0;
}

.weather-temperature strong {
  color: #212121;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
}

.weather-temperature a {
  text-decoration: none;
  font-weight: bold;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.author-info {
  margin-left: 250px;
}

.other-weather-info {
  color: #8b307f;
}

footer {
  font-size: 15px;
  line-height: 18px;
  margin-top: 100px;
  text-align: center;
}

footer a {
  color: #885df1;
}

/* Media Queries */

/* For screens up to 767px */
@media (max-width: 767px) {
  .weather-app {
    margin: 50px 20px;
    max-width: 100%;
  }

  .weather-temperature img {
    height: 40px;
    width: 25px;
  }

  .weather-temperature strong {
    font-size: 48px;
  }

  .weather-temperature .units {
    font-size: 12px;
    top: -24px;
  }

  .search-form {
    margin-bottom: 10px;
  }

  .author-info {
    margin-left: 20px;
  }

  .weather-forecast-day {
    font-size: 14px;
  }
}

/* For screens from 768px and above */
@media (min-width: 768px) {
  .weather-app {
    margin: 100px 150px 10px 250px;
  }
}
